@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  background: #667db6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 500px;
  height: 300px;
  margin: 15px;
  border-radius: 40px;
  box-shadow: 4px 8px 9px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
  transform: translateX(-1000%);
  cursor: pointer;
  position: relative;
}

.box:nth-last-of-type(even) {
  transform: translateX(1000%);
}

.box.show {
  transform: translateX(0);
}

.box:hover {
  transform: scale(1.2);
}

.cat-container {
    max-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

img {
  /* position: absolute;
  left: 10px; */
  max-width: 50%;
  margin: 10px;
  border-radius: 20px;
}
